---
import YourFinancialDetailsForm from "./YourFinancialDetailsForm.svelte";
---

<div class="card card-border">
    <div class="card-body">
        <h2 class="card-title">Your Financial Details</h2>
        <YourFinancialDetailsForm client:load />
    </div>
</div>
