---
import "../styles/global.css";
---

<html lang="en" data-theme="silk">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Property Search Tracker</title>
    </head>
    <body class="container mx-auto px-6">
        <slot />
    </body>
</html>
